<% include ./partials/header %>

<div class="content">
<div class="ui main text container segment">
    <div class="ui huge header"><i class="file text outline icon"></i><%= blog.title %></div>
    <div class="ui top attached">
        <div class="item">
            <img class="ui centred rounded image" src="<%= blog.image %>">
            <div class="content">
                <span><i class="calendar icon"></i><strong><%= blog.created.toDateString() %></strong></span>
            </div>
            <div class="description">
                <p><%- blog.body %></p>
            </div>
            <% if(currentUser){ %>
            <a class="ui basic orange button" href="/blogs/<%= blog._id %>/edit">Edit</a>
                <form id="delete" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
                    <button class="ui basic red button">Delete</button>
                </form>
            <% } %>
        </div>
    </div>
</div>
</div>
<% include ./partials/footer %>